<%= render :partial => 'coaches/nav' %>

<h2>Change password</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :current_password, :required => true %>
    <%= f.input :password, :autocomplete => "off", :required => false %>
    <%= f.input :password_confirmation, :required => false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save changes" %>
    <%= link_to "Cancel", settings_coaches_path, class: "btn" %>
  </div>
<% end %>
