<%= render "shared/publichead" %>

<h2>New Trainer</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class=> "form-horizontal"} ) do |f| %>
  <%= f.error_notification %>

  <div class="control-group">
    <%= f.input :first_name, :input_html => {:class => "input-xlarge" } %>
    <%= f.input :surname, :input_html => {:class => "input-xlarge" } %>
    <%= f.input :brand_name, :input_html => {:class => "input-xlarge" } %>
  </div>
  <div class="control-group">
    <%= f.input :phone_number, :input_html => {:class => "input-xlarge" } %>
    <%= f.input :email, :required => true, :input_html => {:class => "input-xlarge" } %>
  </div>
  <div class="control-group">
    <%= f.input :password, :required => true, :input_html => {:class => "input-xlarge" } %>
    <%= f.input :password_confirmation, :required => true, :input_html => {:class => "input-xlarge" } %>
  </div>

  <div class="form-actions">
    <div>  
      <%= f.button :submit, "Sign Up", class: "btn btn-primary" %>
      <%= link_to "Cancel", root_path, class: "btn" %>
    </div>
  </div>
  

<% end %>

<%= render "shared/publicfoot" %>