<div class="message_box <%= message.sender.class.name.downcase %>">
  <div>
    <%= link_to message, method: :delete, confirm: "Sure?", class: "btn btn-mini pull-right" do %>
      <i class="icon-remove"></i>
    <% end if coach_signed_in? %>
    <p>
      <%= format_message_detail(message) %>
    </p>
  </div>
  <small>
    <%= format_message_info(message) %>
  </small>
</div>
