<table class="table table-bordered table-stripped">
  <thead>
    <tr>
      <th>To:</th>
      <th>Scheduled Message</th>
      <th>Time</th>
      <th>Confirmed?</th>
      <th>Action</th>
      <th>Trash</th>
    </tr>
  </thead>

  <tbody>
    <% messages.each do |message| %>
      <tr id="msg-<%= message.id %>">
        <td>
          <%= link_to(message.receiver.name, message.receiver) %>
        </td>
        <td>
          <%= link_to message.content, edit_message_path(message), data: { target: "#myModal", toggle: "modal" } %>
        </td>
        <td>
          <%= l message.send_at %>
        </td>
        <td>
          <% if message.confirmed? %>
            <span class="label label-success">Confirmed</span>
          <% else %>
            <span class="label label-important">Unconfirmed</span>
          <% end %>
        </td>
        <td>
          <% if message.confirmed? %>
            <button type="button" class="btn btn-mini btn-success disabled" disabled="disabled">Confirmed</button>
          <% else %>
            <%= button_to "Confirm", confirm_message_path(message), class: "btn btn-mini btn-warning", remote: true %>
          <% end %>
        </td>
        <td>
          <%= link_to message_path(message), class: "btn btn-mini", method: :delete, confirm: "Sure?", remote: true do %>
            <i class="icon-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
