<% if @message.confirmed? %>
  $("tr#msg-<%= @message.id %> form.button_to input").val("Unconfirm");
  $("tr#msg-<%= @message.id %> form.button_to input").removeClass("btn-success");
  $("tr#msg-<%= @message.id %> form.button_to input").addClass("btn-danger");

  $("tr#msg-<%= @message.id %> span.label").html("Confirmed");
  $("tr#msg-<%= @message.id %> span.label").removeClass("label-important");
  $("tr#msg-<%= @message.id %> span.label").addClass("label-success");
<% else %>
  $("tr#msg-<%= @message.id %> form.button_to input").val("Confirm");
  $("tr#msg-<%= @message.id %> form.button_to input").removeClass("btn-danger");
  $("tr#msg-<%= @message.id %> form.button_to input").addClass("btn-success");

  $("tr#msg-<%= @message.id %> span.label").html("Unconfirmed");
  $("tr#msg-<%= @message.id %> span.label").removeClass("label-success");
  $("tr#msg-<%= @message.id %> span.label").addClass("label-important");
<% end %>
