<%= simple_form_for @message, html: { class: "form-horizontal" } do |f| %>
  <%= f.error_notification %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Edit Message</h3>
  </div>

  <div class="modal-body">
    <%= f.input :title, label: 'Subject/ Title:' %>
    <%= f.input :content, placeholder: "Your message...", input_html: { cols: 10, rows: 8 } %>

    <div class="control-group">
      <%= f.label :send_at, label: "To be sent at:" %>
      <div class="controls">
        <%= f.text_field :send_at_date, class: "input-small", 'data-behaviour' => 'datepicker-message' %>
        <%= f.text_field :send_at_time, class: "input-small", 'data-behaviour' => 'timepicker' %>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <%= f.button :submit, "Edit", class: "btn btn-primary" %>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
<% end %>
