<% if coach_signed_in? %>
  <%= render 'coaches/nav' %>
<% else %>
  <%= render 'clients/nav' %>
<% end %>
<section>
  <h1>
    <% if coach_signed_in? %>
      <%= link_to raw('<i class="icon-envelope"></i> New Message'), new_message_path, data: { target: "#myModal", toggle: "modal" }, class: "btn pull-right" %>
    <% else %>
    <%= link_to raw('<i class="icon-envelope"></i> New Message'), new_client_message_path, data: { target: "#myModal", toggle: "modal" }, class: "btn pull-right" %>
    <% end %>
    Message Dashboard
  </h1>

  <hr />

  <div class="row-fluid">
    <% if coach_signed_in? %>
      <div class="span12">
        <h3>
          Scheduled Messages
        </h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>To:</th>
              <th>Scheduled Message</th>
              <th>Time</th>
              <th>Confirmed?</th>
              <th>Action</th>
              <th>Trash</th>
            </tr>
          </thead>
          <tbody>
            <% @messagable.scheduled_messages.each do |message| %>
              <tr id="msg-<%= message.id %>">
                <td>
                  <%= link_to message.receiver.name, message.receiver %>
                </td>
                <td>
                  <%= link_to message.title, edit_message_path(message), data: { target: "#myModal", toggle: "modal" } %>
                </td>
                <td>
                  <%= l message.send_at %>
                </td>
                <td>
                  <% if message.confirmed? %>
                    <span class="label label-success">Confirmed</span>
                  <% else %>
                    <span class="label label-important">Unconfirmed</span>
                  <% end %>
                </td>
                <td>
                  <% if message.confirmed? %>
                    <%= button_to "Unconfirm", confirm_message_path(message), :class => "btn btn-mini btn-danger", remote: true %>
                  <% else %>
                    <%= button_to "Confirm", confirm_message_path(message), :class => "btn btn-mini btn-success", remote: true %>
                  <% end %>
                </td>
                <td>
                  <%= link_to message_path(message), :class => "btn btn-mini", :method => :delete, :confirm => "Sure?", :remote => true do %>
                    <i class="icon-trash"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

      <% if coach_signed_in? %>
      <h3>
        Recent Messages History
      </h3>
      <% end %>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>To</th>
            <th>From</th>
            <th>Past Message</th>
          </tr>
        </thead>
        <tbody>
          <% @messagable.past_messages.each do |message| %>
          <% if message.sender.is_a?(Client) %>
            <tr class="marksender">
          <% else %>
            <tr>
          <% end %>
              <td>
                <%= link_to message.receiver.name, message.receiver %>
              </td>
              <td>
                <% if message.sender.is_a?(Client) %>
                  <%= link_to message.sender.name, client_path(message.sender) %>
                <% else %>
                  <%= message.sender.name %>
                <% end %>
              </td>
              <td>
                <%= message.title %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>