<%= simple_form_for [@messagable, @messagable.messages.new], html: { name: "new_message", class: "form-horizontal" } do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">New Message for <%= @messagable.name %></h3>
  </div>

  <div class="modal-body">
    <%= f.input :title, label: 'Subject/ Title:' %>

    <% if coach_signed_in? %>
      <div class="control-group">
        <%= f.label :send_at %>
        <div class="controls">
          <%= f.text_field :send_at_date, class: "input-small", 'data-behaviour' => 'datepicker-message' %>
          <%= f.text_field :send_at_time, class: "input-small", 'data-behaviour' => 'timepicker', 'data-mindate' => f.object.send_at_date, 'data-mintime' => f.object.send_at.to_i  %>
        </div>
      </div>
    <% end %>

    <%= f.input :content, placeholder: "Your message...", input_html: { cols: 10, rows: 8, required: true } %>
  </div>

  <div class="modal-footer">
    <%= f.button :submit, "Send", disable_with: "Sending", class: "btn btn-primary" %>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
<% end %>
