<%= simple_form_for Message.new, html: { name: "new_message", class: "form-horizontal" } do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">New Message</h3>
  </div>

  <div class="modal-body">
    <%= f.input :title, label: 'Subject/ Title:' %>

    <div class="control-group">
      <%= label_tag "Send to", nil, class: "control-label" %>
      <div class="controls">
        <%= select_tag :client_ids, options_from_collection_for_select(current_coach.clients, :id, :name), style: "width:100px;", multiple: true, class: 'select2-select' %>
        <%= select_tag :group_ids, options_from_collection_for_select(current_coach.groups, :id, :name), style: "width:100px;", multiple: true, class: 'select2-select' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :send_at %>
      <div class="controls">
        <%= f.text_field :send_at_date, class: "input-small", 'data-behaviour' => 'datepicker-message' %>
        <%= f.text_field :send_at_time, class: "input-small", 'data-behaviour' => 'timepicker' %>
      </div>
    </div>

    <%= f.input :content, placeholder: "Your message...", input_html: { cols: 10, rows: 8, required: true } %>

  </div>

  <div class="modal-footer">
    <%= f.button :submit, "Send", disable_with: "Sending", class: "btn btn-primary" %>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
<% end %>
