
<%= content_for :sidebar do %>
  <% next %>
<% end %>

<div class="row-fluid">
  <div class="span2">
  </div>
  <div class="span8">
    <section>
      <div class="hero-unit content-center">
        <%= image_tag "logo.png" %>
        <hr />
        <div class="row-fluid">
          <h2>Forgot your password?</h2>

          <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :email, :required => true %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Send me reset password instructions" %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
      </div>
    </section>
  </div>
  <div class="span2">
  </div>
</div>


