<td>
  <%= f.input :name, label: false, :input_html => {:class => "input-xlarge" } %>
</td>
<td>
  <%= f.association :clients,
    :collection => current_coach.clients.all,
    :label => false,
    :input_html => { :class => 'input-xlarge chzn-select', "data-placeholder" => "Click here to add" } %>
</td>
