<%= render "shared/publichead" %>

  <%= bootstrap_flash %>
  <div class="row-fluid">
    <div class="span12">
      <h3>Hey <%= t(:Coach) %>, Welcome to Top Trainer!</h3>
      <p>Follow these <strong>three</strong> simple steps to offer superior service, retain customers and avoid no-shows.</p>
      <hr />
      <span class="label label-warning label-large"><strong>1.</strong> Add Clients</span>
      <span class="label label-large"><strong>2.</strong> Put into Groups</span>
      <span class="label label-large"><strong>3.</strong> Schedule a reminder for clients</span>
      <hr />
      <%= simple_form_for @coach, url: wizard_path, :html => {:class => "form-inline"} do |f| %>
        <%= f.error_notification %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>First name</th>
              <th>Surname</th>
              <th>Phone</th>
              <th>Email</th>
            </tr>
          </thead>

          <tbody>
            <% index = 1 %>
            <%= f.simple_fields_for :clients do |ff| %>
              <tr>
                <td>
                  <%= index %>
                  <% index += 1 %>
                </td>
                <td>
                  <%= ff.input :first_name, label: false, :input_html => {:class => "input-medium" } %>
                </td>
                <td>
                  <%= ff.input :surname, label: false, :input_html => {:class => "input-medium" } %>
                </td>
                <td>
                  <%= ff.input :phone_number, label: false, :input_html => {:class => "input-medium" } %>
                </td>
                <td>
                  <%= ff.input :email, label: false, :input_html => {:class => "input-medium" } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="form-actions">
          <div class="pull-right">
            <%= f.submit "Finished Adding Clients", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<%= render "shared/publicfoot" %>