<%= render "shared/publichead" %>

  <%= bootstrap_flash %>
  <div class="row-fluid">
    <div class="span12">
      <h3>Hey <%= t(:Coach) %>, Welcome to Top Trainer!</h3>
      <p>Follow these <strong>two</strong> simple steps to offer superior service, retain customers and avoid no-shows.</p>
      <hr />
      <span class="label label-success label-large"><strong>1.</strong> Add Clients</span>
      <span class="label label-warning label-large"><strong>2.</strong> Put into Groups</span>
      <span class="label label-large"><strong>3.</strong> Schedule a reminder for clients</span>
      <hr />

      <%= simple_form_for @coach, url: wizard_path, :html => {:class => "form-inline"} do |f| %>
      <%= f.error_notification %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Group name</th>
              <th>Client</th>
            </tr>
          </thead>

          <tbody>
            <% 5.times do |i| %>
              <tr>
                <td><%= i+1 %></td>
                <%= new_fields "Add Group", f, :groups %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="form-actions">
          <div class="pull-right">
            <%= f.submit "Finished Making Groups", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<%= render "shared/publicfoot" %>
