<%= render "shared/publichead" %>

  <%= bootstrap_flash %>
  <div class="row-fluid">
    <div class="span12">
      <h3>Hey <%= t(:Coach) %>, Welcome to Top Trainer!</h3>
      <p>Follow <strong>this final simple step</strong> to offer superior service, retain customers and avoid no-shows.</p>
      <hr />
      <span class="label label-success label-large"><strong>1.</strong> Add Clients</span>
      <span class="label label-success label-large"><strong>2.</strong> Put into Groups</span>
      <span class="label label-warning label-large"><strong>3.</strong> Schedule a reminder for clients</span>
      <hr />

      <h4>Last Step: Schedule a New Message</h4>
      <%= simple_form_for Message.new, url: wizard_path, method: :put, html: { class: "form-horizontal" } do |f| %>
        <%= f.error_notification %>
        <div class="modal-body">
          <div class="control-group">
            <%= label_tag "To clients", nil, class: "control-label" %>
            <div class="controls">
              <%= select_tag :client_ids, options_from_collection_for_select(current_coach.clients, :id, :name), style: "width:100px;", multiple: true, class: 'chzn-select' %>
              <%= select_tag :group_ids, options_from_collection_for_select(current_coach.groups, :id, :name), style: "width:100px;", multiple: true, class: 'chzn-select' %>
            </div>
          </div>
          <%= f.input :title, label: "Subject/ Title:" %>
          <%= f.input :content, input_html: { cols: 10, rows: 8 } %>
          <div class="control-group">
            <%= f.label :send_at, label: "Send on:" %>
            <div class="controls">
              <%= f.text_field :send_at_date, class: "input-small", 'data-behaviour' => 'datepicker-message' %>
              <%= f.text_field :send_at_time, class: "input-small", 'data-behaviour' => 'timepicker' %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.button :submit, "Schedule and you'are done!", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>

<%= render "shared/publicfoot" %>
