<%= render "clients/nav" %>

<section>
  <div class="row-fluid">
    <div class="span12">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: "form-horizontal" }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, :required => true, :autofocus => true %>
          <%= f.input :first_name %>
          <%= f.input :surname %>
          <%= f.input :phone_number %>
          <%= label_tag :dob do %>
            Birthday (optional)
          <% end %>
          <%= f.text_field :dob, class: "input-large", 'data-behaviour' => 'datepicker-dob' %>
          <span class="help-inline">&raquo; Click the header to toggle days/months/years.</span>

          <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
          <%= f.input :password_confirmation, :required => false %>
          <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update" %>
        </div>
      <% end %>
    </div>
  </div>
</section>