<%= render "shared/publichead" %>

<h2>New Client</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class=> "form-horizontal"} ) do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
    <%= f.input :first_name, :required => true %>
    <%= f.input :surname, :required => true %>
    <%= f.input :phone_number, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :coach_id, :label => t(:Coach), :collection => Coach.all, :input_html => { :class => 'chzn-select' } %>
    <%= label_tag :dob do %>
      Birthday (optional)
    <% end %>
    <%= f.text_field :dob, class: "input-small", 'data-behaviour' => 'datepicker-dob' %>
    <span class="help-inline">&raquo; Click the header to toggle days/months/years.</span>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit", class: "btn btn-primary" %>
    <%= link_to "Cancel", root_path, class: "btn" %>
  </div>
  
<% end %>

<%= render "shared/publicfoot" %>

