<h1>Top Trainer</h1>
<p>Set Track Achieve your Goals together</p>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, :required => false, :autofocus => true %>
    <%= f.input :password, :required => false %>
    <%= f.check_box :remember_me if devise_mapping.rememberable? %>
    <%= f.label :remember_me if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign in" %>
  </div>
<% end %>

<hr>

<%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
Don't have an account yet? <%= link_to "Sign Up!", new_registration_path(resource_name) %><br />
