<h1>Top Trainer</h1>
<p>Set Track Achieve your Goals together</p>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, :required => true %>
    <%= f.input :surname, :required => true %>
    <%= f.input :phone_number, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :coach_id, :label => "Coach", :collection => Coach.all, :input_html => { :class => 'chzn-select' } %>
    <%= label_tag :dob do %>
      Birthday (optional)
    <% end %>
    <%= f.text_field :dob, class: "input-large", 'data-behaviour' => 'datepicker' %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign Up", class: "btn btn-primary" %>
  </div>
<% end %>

<hr>
<%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
Already have an account? <%= link_to "Sign In!", new_session_path(resource_name) %><br />
