<%= f.error_notification %>
<%= f.input :state, :as => :hidden, :input_html => { :value => params[:state] } if params[:state].present? %>
<% group.errors.each do |a| %>
  <%= a %>
<% end %>

<div class="form-inputs">
  <%= f.input :name, required: true, label: "Name of Group" %>

  <%= f.association :clients,
    :label => "Add Existing Client",
    :input_html => { :class => 'chzn-select', "data-placeholder" => "Click here to add" },
    :collection => current_coach.clients.all %>

  <%= f.input :note, input_html: { cols: 8, rows: 5 }, label: t(:Coach) + " notes", placeholder: "Write notes here..." %>
</div>

<div class="form-actions">
  <%= f.button :submit, 'Save', class: "btn btn-primary" %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                coach_groups_path(current_coach), :class => 'btn' %>
</div>
