<table class="table table-bordered table-stripped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% groups.each do |group| %>
      <tr>
        <td>
          <%= link_to group.name, group %>
        </td>
        <td>
          <%= link_to "New Message", new_group_message_path(group), data: { target: "#myModal", toggle: "modal" }, class: "btn pull-right" %>
        </td>
        <td>
          <% if group.inactive? %>
            <%= link_to active_group_path(group), :method => :put, class: "btn" do %>
              <i class="icon-arrow-up"></i>
            <% end %>
          <% else %>
            <%= link_to deactive_group_path(group), :method => :put, class: "btn" do %>
              <i class="icon-arrow-down"></i>
            <% end %>
          <% end %>
        <td>
          <%= link_to group_path(group), :method => :delete, :confirm => "Are you sure you would like to delete this group from the database?" do %>
            <i class="icon-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
