<%= render 'coaches/nav' %>
  <span class="nav nav-back">
    <%= link_to raw("&laquo") + " Back to Groups Dashboard", coach_groups_path(current_coach) %>
  </span>
<section>

  <h1>Edit group</h1>

  <%= simple_form_for @group do |f| %>
    <%= render 'form', group: @group, f: f %>
  <% end %>
</section>