<%= render 'coaches/nav' %>
<section>

  <h1>Groups Dashboard
    <div class="pull-right">
      <%= link_to raw('<i class="icon-envelope"></i> New Message'), new_message_path, data: { target: "#myModal", toggle: "modal" }, class: "btn" %>
      <%= link_to raw('<i class="icon-plus"></i> New Group'), new_coach_group_path(current_coach, state:"active"), class: "btn" %>
      
    </div>
  </h1>
  <hr />

  <h2>Active Groups</h2>
  <%= render 'groups_table', coach: current_coach, groups: @active_groups %>

  <h2>Inactive Groups</h2>
  <%= render 'groups_table', coach: current_coach, groups: @inactive_groups %>

</section>