<%= render 'coaches/nav' %>
<span class="nav nav-back">
  <%= link_to raw("&laquo") + " Back to Groups Dashboard", coach_groups_path(current_coach) %>
</span>
<section>

  <div class="row-fluid">
    <div class="span6">
      <h1>
        <%= @group.name %>
      </h1>

      <h3>Group Information</h3>
      <p>
        <strong>Name of Group:</strong>
        <%= @group.name %>
      </p>

      <p>
        <strong>Clients:</strong>
        <ul>
          <% @group.clients.each do |client| %>
            <li>
              <%= link_to client.name, client %>
            </li>
          <% end %>
        </ul>
      </p>

      <% if @group.note.present? %>
        <p>
          <strong><%= t(:Coach) %> Private Notes:</strong>
          <%= @group.note %>
        </p>
      <% end %>

      <%= link_to "Back", group_path(@group), class: "btn" %>
      <%= link_to 'Edit', edit_group_path(@group), class: "btn btn-primary" %>
    </div>
  </div>
</section>