<%= render 'coaches/nav' %>

<span class="nav nav-back">
  <%= link_to raw("&laquo") + " Back to Groups Dashboard", coach_groups_path(current_coach) %>
</span>

<section>
  <h1>
    <%= @group.name %>
    <%= link_to info_group_path(@group) do %>
      <i class="icon-info-sign"></i>
    <% end %>
  </h1>

  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#message_board">Message Board&nbsp;&nbsp;<span class="badge"><%= @sent_messages.count %></span></a>
    </li>
    <li>
      <a data-toggle="tab" href="#scheduled_messages">Scheduled Messages&nbsp;&nbsp;<span class="badge"><%= @scheduled_messages.count %></span></a>
    </li>
  </ul>
  <%= link_to "New Message", new_group_message_path(@group), data: { target: "#myModal", toggle: "modal" }, class: "btn pull-right" %>
  <div class="tab-content">
    <div class="tab-pane active" id="message_board">
      <% @sent_messages.each do |message| %>
        <% if message.receiver.is_a?(Group) %>
          <p>
            <%= format_message_detail(message) %>
          </p>
          <small>
            <%= format_message_info(message) %>
          </small>
          <p>
            <%= link_to message, method: :delete, confirm: "Sure?" do %>
              <i class="icon-remove pull-right"></i>
            <% end %>
          </p>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane" id="scheduled_messages">
      <%= render 'messages/scheduled_messages', coach: current_coach, group: @group, messages: @scheduled_messages if @scheduled_messages.any? %>
    </div>
  </div>
</section>
