Hi <%= @client.first_name %>,

I wanted to invite you to your account using Top Trainer.

This is the most effective way for me to support you between sessions and reach your goal. 

Please follow this link to<a href="http://members.toptrainer.co.nz"> http://members.toptrainer.co.nz</a>

As this is an invite-only opportunity for only a select group of my clients, you will need to enter the Username: toptrainer and Password: vip - to access the sign up page.

From there it's as simple as signing up as a client and us working together to achieve your goals.


Thanks,
<%= @client.coach.first_name %>.
