<div class="row-fluid">
  <div class="span12">
    <section>
      <div class="content-center">
        <br>
        <%= link_to image_tag("logo.png"), root_path, :class => "logo" %>
      </div>
      <hr />