<h3>Long Term Goal</h3>
<div class="alert alert-info">
  <%= link_to raw('<i class="icon-cog"> </i>'), edit_goal_path(goal), data: { target: "#myModal", toggle: "modal" }, :class => "btn btn-link pull-right" %>
  <h4><%= goal.title %> <small><%= deadline_nice @active_goal %></small></h4>
  <p><%= goal.description %></p>
</div>
