<div id="checkin_box">
  <%= simple_form_for client do |f| %>
    <table class="table table-bordered table-stripped">
      <thead>
        <tr>
          <th></th>
          <th>Habit</th>
          <th>Check-in</th>
          <th>De/Activate</th>
          <th>Trash</th>
        </tr>
      </thead>
      <tbody>
        <% counter = 1 %>
        <%= f.simple_fields_for :checkins, today_checkins do |ff| %>
          <tr id="checkin-<%= ff.object.id %>">
            <td>
              <%= counter %>
              <% counter += 1 %>
            </td>
            <td>
              <%= link_to ff.object.habit.title, edit_habit_path(ff.object.habit), data: { target: "#myModal", toggle: "modal" } %>
            </td>
            <td>
              <%= ff.input :checked,
                label: false,
                input_html: { title: "Simply checkin and track your progress" }
              %>
            </td>
            <td>
              <% if ff.object.habit.active? %>
                <%= link_to deactive_habit_path(ff.object.habit), :method => :put, class: "btn" do %>
                  <i class="icon-arrow-down"></i>
                <% end %>
              <% else %>
                <%= link_to active_habit_path(ff.object.habit), :method => :put, class: "btn" do %>
                  <i class="icon-arrow-up"></i>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to ff.object.habit, :method => :delete, :confirm => "Are you sure you would like to delete this habit from the database?" do %>
              <i class="icon-remove"></i>
            <% end %>
          </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end if today_checkins.exists? %>
</div>
