<%= render :partial => 'clients/client_head_name' %>

<ul class="nav nav-tabs">
  <li <% if clienthead == "messages" || clienthead.blank? %>class="active"<% end %>>
    <%= link_to "Messages", client_path(@client) %>
  </li>
  <li <% if clienthead == "goals" %>class="active"<% end %>>
    <%= link_to "Goals & Habits", client_goals_path(@client) %>
  </li>

  <% if coach_signed_in? %>
    <li <% if clienthead == "info" %>class="active"<% end %>>
      <%= link_to info_client_path(@client) do %>
        Client Info
      <% end %>
    </li>
  <% end %>

</ul>