<h1>
  <%= @client.name %>
  <% if @active_goal.present? %>
    <small>
      <%= @client.first_name %>'s goal is to:
      <%= link_to @active_goal.title || @active_goal.content, client_goals_path(@client) %>
      <%= deadline_nice @active_goal %>
    </small>
  <% end %>

  <% if coach_signed_in? %>
    <%= link_to new_client_message_path(@client), data: { target: "#myModal", toggle: "modal" }, class: "btn pull-right" do %>
      <i class="icon-envelope"></i> Message <%= @client.first_name %>
    <% end %>
  <% end %>
</h1>