<ul class="client-table">
  <% clients.each do |client| %>
    <li class="show-child-on-hover">
      <%= link_to [client.first_name, client.surname].join(' '), client, :class => "pull-left" %>

      <div class="pull-left child-for-hover" style="padding-left:10px;">
        <%#= truncate(client.messages.last.content, :length => 50) if client.messages.any? %>
        
        <%= link_to new_client_message_path(client), data: { target: "#myModal", toggle: "modal" }, :class => "icon tooltip-handler", :title => "Message" do %>
          <i class="icon-envelope"> </i>
        <% end %>

        <% if client.persisted? && client.inactive? %>
          <%= link_to active_client_path(client), :method => :put, :class => "icon tooltip-handler", :title => "Activate" do %>
            <i class="icon-arrow-up"> </i>
          <% end %>
        <% elsif client.persisted? && client.active? %>
          <%= link_to deactive_client_path(client), :method => :put, :class => "icon tooltip-handler", :title => "Deactivate" do %>
            <i class="icon-arrow-down"> </i>
          <% end %>
        <% end %>

        <% if !client.active? %>
          <%= link_to client, data: { confirm: "Are you sure you want to permanently delete this client from the database?" }, method: :delete, :class => "icon tooltip-handler", :title => "Delete" do %>
            <i class="icon-remove"> </i>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>