<% if client.goals.active.any? %>
  <h3>
    <%= link_to "Goal", client_goals_path(client) %>
  </h3>
  <p class="text-info">
    <%= client.first_name %>'s goal is to:
  </p>
  <h5>
    <%= client.goals.active.first.title %>
  </h5>
  <h5>
    <%= deadline_nice @active_goal %>
  </h5>
<% end %>
