<%= f.input :state, :as => :hidden, :input_html => { :value => params[:state] } if params[:state].present? %>

<div class="row-fluid">
  <div class="span12">
    
    <div class="control-group">
      <%= f.input :first_name %>
      <%= f.input :surname %>
      <%= f.input :phone_number %>
      <%= f.input :email %>
    </div>

    <div class="control-group">
      <a href="#" id="expert-options-toggle">Show/hide expert options >></a>
      <hr />
      <div id="expert-options" class="hide">
        <%= label_tag :dob do %>
          Birthday (optional)
        <% end %>
        <%= f.text_field :dob, class: "input-large", 'data-behaviour' => 'datepicker-dob' %>
        <span class="help-inline">&raquo; Click the header to toggle days/months/years.</span>

        <%= f.association :groups,
          :input_html => { :class => 'chzn-select' },
          :collection => current_coach.groups.all
        %>
        <%= f.input :note, input_html: { rows: 5, cols: 5 } %>

        <!--
        <fieldset>
          <legend>
            Habits
          </legend>
          <%= f.simple_fields_for :habits do |ff| %>
            <%= render 'habit_fields', f: ff %>
          <% end %>
        </fieldset>

        <%= link_to_add_fields "Add Habit", f, :habits %>
        -->

      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, 'Save', class: "btn btn-primary" %>
      <%= link_to 'Cancel', coach_clients_path(current_coach), class: "btn" %>

      <% if client.persisted? && client.inactive? %>
        <%= link_to 'Activate', active_client_path(client), :method => :put, class: "btn btn-warning" %>
      <% elsif client.persisted? && client.active? %>
        <%= link_to "Deactivate", deactive_client_path(client), :method => :put, class: "btn btn-warning" %>
      <% end %>
    </div>

  </div>
</div>