<h3>Inactive Goals</h3>
<table class="table table-bordered table-stripped">
  <thead>
    <tr>
      <th></th>
      <th>Goal</th>
      <th>By Date</th>
      <th>Activate</th>
      <th>Trash</th>
    </tr>
  </thead>

  <tbody>
    <% goals.each_with_index do |goal, index| %>
      <tr id="goal-<%= goal.id %>">
        <td>
          <%= index+1 %>
        </td>
        <td>
          <%= link_to goal.title, edit_goal_path(goal), data: { target: "#myModal", toggle: "modal" } %>
        </td>
        <td>
          <%= l goal.deadline if goal.deadline.present? %>
        </td>
        <td>
          <%= link_to active_goal_path(goal), :method => :put, class: "btn" do %>
            <i class="icon-arrow-up"></i>
          <% end %>
        </td>
        <td>
          <%= link_to goal_path(goal), :method => :delete, :confirm => "Are you sure you would like to delete this goal from the database?" do %>
            <i class="icon-remove"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
