<% if checkins.any? %>
  <div class="check_ins">
    <h3>Last 3 Check Ins:</h3>
    <ul>
      <% checkins.each do |checkin| %>
        <li>
          <%= "Checked in to " %>
          <%= checkin.habit.title %>
          <%= time_ago_in_words checkin.created_at %>
          <%= "ago" %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
