<ul class="nav nav-pills" id="nav-top">
  <li>
    <%= link_to image_tag("logo.png"), root_path, class: "logo" %>
  </li>
  <li>
    <%= link_to "Dashboard", dashboard_client_path(current_client) %>
  </li>
  <li>
    <%= link_to "Goals & Habits", goals_client_path(current_client) %>
  </li>
  <li class="pull-right">
    <%= link_to "Signout", destroy_client_session_path, method: :delete %>
  </li>
  <li class="pull-right">
    <%= link_to "Settings", edit_client_registration_path %>
  </li>
</ul>
<%= bootstrap_flash %>