<%= link_to 'New inactive client', new_coach_client_path(coach, state:"inactive"), class: "btn btn-warning #{'pull-right' if local_assigns[:right]}" %>
<%= link_to "New Message", new_message_path, data: { target: "#myModal", toggle: "modal" }, class: "btn btn-warning #{'pull-right' if local_assigns[:right]}" %>
