<%= render "nav" %>
<section>
  <div class="page-header">
    <%= render :partial => 'clients/client_head_name', :locals => {:client => current_client} %>
  </div>

  <div class="row-fluid">
    <div class="span7">
      <h3>
        <%= link_to new_coach_message_path(current_client.coach), data: { target: "#myModal", toggle: "modal" }, class: "btn pull-right" do %>
          New Message to <%= t(:Coach) %> <i class="icon-envelope"></i>
        <% end %>
        Message Board <span class="badge badge-info"><%= @unreplied_messages_count %></span>
      </h3>

      <div class="tab-content">
        <div class="tab-pane active" id="msg_board">
          <%= render @messages if @messages.any? %>
          <%= paginate @messages %>
        </div>
      </div>
   </div>

    <div class="span4 offset1">
      <h3>
        <%= link_to goals_client_path(@client), class: "btn pull-right" do %>
          Manage Goals <i class="icon-cog"></i>
        <% end %>
      </h3>
      <%= render 'active_goal', client: @client, goal: @active_goal if @active_goal.present? %>

      <h3>
        <%= link_to goals_client_path(@client), class: "btn pull-right" do %>
          Manage Habits <i class="icon-cog"></i>
        <% end %>
        Checkins for Today
      </h3>
      <%= render 'clients/checkable_active_habits', client: @client, today_checkins: @today_checkins %>
      
      <%= render 'clients/latest_checkins', checkins: @latest_checkins %>
     
      <h3>
        Checkin History
      </h3>
      <%= render 'habits/habits_chart', client: @client %>
      
    </div>
  </div>
</section>