<%= render 'coaches/nav' %>

<span class="nav nav-back">
  <%= link_to raw("&laquo") + " Back to Clients Dashboard", coach_clients_path(current_coach) %>
</span>

<section>
  <div class="row-fluid">
    <div class="span12">

      <%= render :partial => 'clients/client_head', :locals => { :clienthead => "info" }  %>

      <h2>Edit client</h2>

      <%= simple_form_for @client do |f| %>
        <%= render 'form', client: @client, f: f %>
      <% end %>
    </div>
  </div>
</section>