<% if coach_signed_in? %>
  <%= render 'coaches/nav' %>
  <span class="nav nav-back">
    <%= link_to raw("&laquo") + " Back to Clients Dashboard", coach_clients_path(current_coach) %>
  </span>
<% else %>
  <%= render 'clients/nav' %>
<% end %>

<section>
  <div class="row-fluid">
    <div class="span12">
      <% if coach_signed_in? %>
        <%= render :partial => 'clients/client_head', :locals => { :clienthead => "goals" }  %>
      <% end %>

      <h2>
        <%= link_to raw('<i class="icon-plus"></i> New goal'), new_client_goal_path(@client), data: { target: "#myModal", toggle: "modal" }, class: "btn pull-right" %>
        Goals
      </h2>

      <%= render 'active_goal', client: @client, goal: @active_goal if @active_goal.present? %>
      <%= render 'inactive_goals', client: @client, goals: @inactive_goals if @inactive_goals.any? %>
      
      <hr />
      <h2>
        <%= link_to raw('<i class="icon-plus"></i> New Habit'), new_client_habit_path(@client), data: { target: "#myModal", toggle: "modal" }, class: "btn pull-right" %>
        Habits
      </h2>
      <%= render 'clients/checkable_active_habits', client: @client, today_checkins: @today_checkins %>
      <% if @inactive_habits.any? %>
        <h3>Inactive Habits</h3>
        <%= render 'habits/habits_table', client: @client, habits: @inactive_habits %>
      <% end %>
      <h3>
        Checkin Timeline
      </h3>
      <%= render 'habits/habits_chart', client: @client %>
      <%= render 'clients/latest_checkins', checkins: @latest_checkins %>


    </div>
  </div>
</section>