<%= render :partial => 'coaches/nav' %>
<section>
  <div class="row-fluid">
    <div class="span12">
      <h1>
        <div class="pull-right">
          <%= link_to raw('<i class="icon-plus"></i> New Client'), new_coach_client_path(current_coach, state:"active"), class: "btn" %>
          <%= link_to raw('<i class="icon-plus"></i> New Message'), new_message_path, data: { target: "#myModal", toggle: "modal" }, class: "btn " %>
        </div>
        Clients Dashboard
      </h1>
      <hr />
      <h2>
        Active Clients
      </h2>
      <hr />
      <%= render 'clients_table', clients: @active_clients %>
      <% if !@active_clients.any? %>
        <em>No active clients</em>
      <% end %>
    </div>
  </div>
  <% if @inactive_clients.any? %>
    <hr />
    <div class="row-fluid">
      <div class="span12">
        <h2>Inactive Clients</h2>
        <hr />
        <%= render 'clients_table', clients: @inactive_clients %>
      </div>
    </div>
  <% end %>
</section>