<% if coach_signed_in? %>
  <%= render 'coaches/nav' %>
  <span class="nav nav-back">
    <%= link_to raw("&laquo") + " Back to Clients Dashboard", coach_clients_path(current_coach) %>
  </span>
<% else %>
  <%= render 'clients/nav' %>
<% end %>

<section>
  <div class="row-fluid">
    <div class="span12">

      <%= render :partial => 'clients/client_head', :locals => { :clienthead => "info" }  %>

      <h2>
        <% if coach_signed_in? %>
          <div>
            <%= link_to raw('<i class="icon-cog"></i> Edit Client'), edit_client_path(@client), class: "btn pull-right" %>
          </div>
        <% end %>
        <%= @client.name %>'s Account Settings
      </h2>

      <dl class="dl-horizontal">

        <dt><strong>First name:</strong></dt>
        <dd><%= @client.first_name %></dd>

        <dt><strong>Surname:</strong></dt>
        <dd><%= @client.surname %></dd>

        <dt><strong>Phone number:</strong></dt>
        <dd><%= @client.phone_number %></dd>

        <dt><strong>Email:</strong></dt>
        <dd><%= mail_to @client.email, @client.email, subject: @client.coach.brand_name %></dd>

        <% if @client.dob.present? %>
          <dt><strong>Date of Birth:</strong></dt>
          <dd> <%= @client.dob_with_format %> <%= fancy_birthday(@client.dob) %></dd>
        <% end %>

        <dt><strong><%= t(:Coach) %>:</strong></dt>
        <dd><%= @client.coach.name %></dd>

        <dt><strong>Current Groups:</strong></dt>
        <dd>
          <ul>
            <% @client.groups.each do |group| %>
              <li>
                <%= link_to group.name, group %>
              </li>
            <% end %>
          </ul>
        </dd>

      <% if coach_signed_in? %>
        <dt><strong><%= t(:Coach) %> Private Notes:</strong></dt>
        <dd><%= @client.note %></dd>
      <% end %>

    </div>
  </div>
</section>
