<%= render 'coaches/nav' %>

<span class="nav nav-back">
  <%= link_to raw("&laquo") + " Back to Clients Dashboard", coach_clients_path(current_coach) %>
</span>

<section>
  <div class="row-fluid">
    <div class="span12">
      <h1>New Client</h1>

      <%= simple_form_for [current_coach, @client], :class => "form-horizontal" do |f| %>
        <%= render 'form', client: @client, f: f %>
      <% end %>
    </div>
  </div>
</section>