<%= render 'coaches/nav' %>

<span class="nav nav-back">
  <%= link_to raw("&laquo") + " Back to Clients Dashboard", coach_clients_path(current_coach) %>
</span>

<section>
  <div class="row-fluid">
    <div class="span12">

      <%= render :partial => 'clients/client_head', :locals => { :clienthead => "messages" } %>

      <h3>
        Message Board <span class="badge badge-info"><%= @unreplied_messages_count %></span>
      </h3>
      <%= render @messages if @messages.any? %>
      <%= paginate @messages %>

      <% if coach_signed_in? %>
        <hr />
        <h3>
          Scheduled Messages <span class="badge badge-info"><%= @scheduled_messages.count %></span>
        </h3>
          <%= render 'messages/scheduled_messages', coach: current_coach, client: @client, messages: @scheduled_messages if @scheduled_messages.any? %>
      <% end %>

    </div>
  </div>
</section>