<div class="row-fluid">
  <div class="span2">
  </div>
  <div class="span8">
    <section>
      <div class="hero-unit content-center">
        <%= link_to image_tag("logo.png"), root_path %>
        <br>
        <br>
        <div id="about_page_content">
         <p><strong> 
          Top Trainer is an online tool for personal trainers to easily connect with clients between sessions, to help clients achieve their goals and to keep them coming back.
         </strong></p>
         <br>
         <p>
          <%=image_tag "/assets/alex_founder_portrait.jpg", :id => "about_page_image" %> 
          My name is Alex Asher and I'm the founder of Top Trainer. 
         </p>
         <p> 
          I developed the idea for Top Trainer while I was trying to build my own group fitness business, Wake Up Fit, based in Auckland. I realised very quickly that for clients to see results, they need support and motivation, especially while away from their trainer. The 150 PT's I've spoken to since have confirmed this.  Trainers can no longer rely on just selling a couple of sweat sessions a week. Top trainers know how important "out of hours" to achieving results for their clients.
          </p>
          <p>
          Now they just need a better way to offer that between-session service without relying on limited, sporadic and time-consuming technology such as on the spot text-messaging or standard email.  
         </p>
         <p>
          Top Trainer empowers personal trainers to train more clients, with better service, in less time, from anywhere through an innovative online software.
         </p>
         <p>
         Our service is still currently on an invite-only basis.  If you're passionate about your clients and their success then send me a brief <a href="mailto:alex@toptrainer.co.nz">email</a> with your contact details so that I can send you an invitation.
         </p>
         <br>
         <p><strong>
          Want to know a little more about the founder?
         </strong></p>
         <p>
          My name is Alex Asher. I have been passionate about fitness since forever and most notably ran 2300km (and swam 63km) over 63 days from Cape Reinga to Wellington around the entire east coast in the summer of 2010. That's a long story but I am also a third dan black belt in Seido karate instructor and run the successful 'Wake Up Fit' bootcamp based in Auckland.
         </p>
      </div>
    </section>
  </div>
    <div class="span2">
    </div>
</div>