
  <%= content_for :sidebar do %>
    <% next %>
  <% end %>

<div class="row-fluid">
  <div class="span2">
  </div>
  <div class="span8">
    <section>
      <div class="hero-unit content-center">
        <%= image_tag "logo.png" %>
        <br>
        
        <hr />
        <div><p>The simplest and most effective way for your trainer to help you</p>
             <p>build and track the best habits to achieve your goal faster.</p>
        </div> 
        <hr />
        
        <div class="row-fluid">
          <div class="span1">
          </div>
          <div class="span5">
            <h2><%= t(:Coaches) %></h2>
            <%= link_to "Sign In", new_coach_session_path, class: "btn btn-primary btn-large" %>
            <%= link_to "Sign Up", new_coach_registration_path, class: "btn btn-success btn-large" %>
          </div>
          <div class="span5">
            <h2><%= t(:Clients) %></h2>
            <%= link_to "Sign In", new_client_session_path, class: "btn btn-primary btn-large" %>
            <%= link_to "Sign Up", new_client_registration_path, class: "btn btn-success btn-large" %>
          </div>
          <div class="span1">
          </div>
          </div>
           <br>
          <hr />
          <br>
            <div class="span3"> ACHIEVE better results faster
            </div>
            <div class="span1">
            </div> 
            <div class="span3"> FOCUS on habits that make a real impact
            </div>
            <div class="span1">
            </div>
            <div class="span3"> SUPPORT wherever you are
            </div>
          <br>
      </div>
    </section>
  </div>
  <div class="span2">
  </div>
</div>