<div class="row-fluid">
  <div class="span2">
  </div>
  <div class="span8">
    <section>
      <div class="hero-unit content-center">
        <header class="static_page_header">
          <%= link_to "Trainer Tips", root_path %>
        </header>
        <br>
        <br>
        <div id="about_page_content">
          <h2>Are we mining for gold or trying to catch money in the wind?</h2>  
          <p>We know that we've already got a gold-mine.  Remember all those new and old leads we've received or have we forgotten? 
          <p>When a lead suggests they are not ready to employ us yet...don't forget them.  We've both already invested time getting to know each other.</p> 
          <p><strong><em>Action for Trainers:</em></strong></p>
          <p>Use Top Trainer to schedule a follow up message every 6 - 8 weeks asking - e.g. "How're are your fitness goals are going? Could I ring you about a new promotion that I'm offering to clients that have already trained with me?".  Remember, when someone suggests they're interested in a personal trainer - it doesn't always mean right now.  80% of people buy 3 months <em>after</em> they actually start thinking about the decision.</p>
          <br>
          <br>
          <h2>Why would we ever "give up" on a client?</h2>  
          <p>Clients might need to leave our services for a time-period but odds are that if they needed us once, they'll need us again.</p>
          <p>If they imply they're about to "break-up" with you.  We're not going to take it personally but we don't just give up on them either. We like them and want to help them right?</p>
          <p><strong><em>Action for Trainers:</em></strong></p> 
          <p>Suggest a way that you could help them keep up the great progress they've made with you - on their terms.  That might mean seeing them less, go for 1/2 hour sessions or use Top Trainer as a great way to keep them motivated for a fee or for free.</p>
          <p>It's super time-efficient and cheap to keep a client by using Top Trainer.  Put in their goals and the habits you both agree are essential to keeping up their progress. Ask them to "check-in" regularly and schedule an encouraging message to be sent every week at a time they'll appreciate the follow up - e.g. Send on a Friday afternoon - "Hey Tommy, how are you feeling about your progress?".</p>
          <p>You're not trying to sell them anything.  You're just trying to surprise them by keeping on offering them value.  Show them enough value and they'll come back to you when they're ready. After all - they're the most likely to buy from you.</p>  
          <br>  
          <br>
          <h2> Why aren't we getting the progress we expect with our clients?</h2>    
          <p>It might not be about us as trainers, but because our time with our clients only makes up 2% of their week.  How can we keep them active and motivated to follow through with their plan during this time (i.e. the other 98% of the time)?</p>
          <p><strong><em>Action for Trainers:</em></strong></p> 
          <p>Use Top Trainer to keep your clients accountable between sessions.  This is especially important for clients with weight-loss goals. Give them the responsibility to "check-in" that they're getting into the right habits. Let them share their progress and use Top Trainer's scheduled message feature to give them the right encouragement at just the right time.</p> 
          <br>
          <h2>Why are our client's leaving us?</h2>   
          <h3>Is it us?</h3>
          <ul>
            <li>Are we getting results?</li>
            <li>Are we keeping our workouts fresh and fun?</li>
            <li>Are we making our clients feel special and that we care?</li>
          </ul>  
          <p>Top Trainer enables us to deliver a complete personal trainer experience, not just a personal trainer workout. It's the value that we provide beyond our client's expectations that makes the difference. Our clients expect results. Our clients expect us to surprise them. If we ensure they feel that we genuinely care - our clients will surprise us by how loyal they are to us.</p>
          <p><strong><em>Action for Trainers 1:</em></strong></p>
          <p>Use Top Trainer so that you never forget or neglect your clients. It's so simple to schedule to send all of those messages ahead of time, when you have down-time and deliver them at just the right time withTop Trainer.</p>
          <p>Think about a client, let's call her Bridget, who has just put everything into the session you've just done, they say good bye, they go back to work...for 3 days they don't think about you or hear from you...Do you think they won't question having paid $100 for a sweat session?  They want more!  
          <p>How much better would that feedback loop be if you sent them a simple message the day after their training with you? It could say - "Hey Bridget, You put everything into that last session.  Super proud of you - How're you feeling?" Don't put extra pressure on yourself to remember at just the right time - you know what you need to write.</p>  
          <p><strong><em>Action for Trainers 2:</em></strong></p>
          <p>Just write that message now when you have time on Top Trainer and schedule it to be sent when your client needs it by selecting the time/date to send it.</p>
          <p>When you add or edit a client (click expert options), make sure you write their birthday. Schedule a Birthday message for that day.  Forget remind to do's! Just do it now.</p>
          <p>Definitely don't underestimate how uplifting those little follow up messages, those little reminders, those notes of encouragement, the birthday wishes...all those little things make a massive difference.</p>
          <br>  
          <h3>...Or is it them?</h3>
           <ul>
              <li>Are they not motivated when they're with us?</li>
              <li>Are they forgetting to show up on-time to our sessions?</li>
              <li>Are they not doing enough outside of the session to get the results they're after?</li>
            </ul>
          <p>It's our job to motivate them and keep them focused on their goals. Yip...we need to  be counsellors too sometimes. That's why they're paying us. We can do something about it.  We might just need to kick-start their motivation levels.  We might just need to send them a personal reminder before their appointment. We might need them to do that extra cardio session between sessions.</p>
          <p><strong><em>Action for Trainers 3:</em></strong></p> 
          <p>Use Top Trainer to keep your clients accountable between sessions. If you want your clients to pay attention to your appointment reminders, personalise them and provide value - even if you often reuse them.  Tell them their time + a tip or a motivational quote.</p> 
             <p>You can <strong>schedule a message in advance</strong> by clicking on the "Send at" date and time fields so that you can send the right message to the right person (group) at just the right time.</p>
          <p>Clients with weight-loss goals, more often than not, are paying you to keep them accountable.  The results will be far greater from dealing with what they put in their mouths compared to even the 2 incredible PT sessions you give them.</p>
          <p><strong><em>Action for Trainers 4:</em></strong></p>
          <p>Let them share their progress on Top Trainer by  "checking-in" to their good habits.</p>
          <br>
          <br>
          <h2>Why are our client's motivation levels fizzling?</h2> 
          <p>Often it can be that our clients don't feel that they have a strong, relevant and motivational goal. It is well worth the effort to go through their real motivations to clarify what goal is specific, measurable, accurate, realistic and timely enough for them to care.</p>
          <p>We need to avoid overly ambitious goals with too long time-frames. Let's keep the big goals in the background but when we build those step-by-step achievable goals to complete within 4 - 6 weeks, our clients are not overwhelmed and feel compelled to focus on the tasks at hand.</p>
          <p><strong><em>Action for Trainers:</em></strong></p>
          <p> Give your clients a strong reason to read their goal everyday by setting relevant habits that your clients need to "check-in" every day on Top Trainer. Studies show that your clients are 200% as likely to succeed when they write their goal down. Just imagine how much better writing it, reading it and doing something about it every day is going to be...</p>
          <p>Explain to your clients that you expect them to "check-in" each day.  It's as simple as checking the check-in box. They will find it on their homepage once they log-in.  
          <br>
          <br>
          <h2>Why don't we know what motivates our clients yet?</h2>  
          <p>We possibly haven't gone through the right process.</p>
          <p>Instead of passing over the question - "What's your goal"- like whether you'd like pepper on your steak, we need to spend some time understanding our clients. Ask lots of questions? "What is it that you'd most like to achieve in a year, 6 months and one month."  The one month goal should be our first milestone.</p>
          <p><strong><em>Action for Trainers 1:</em></strong></p> 
          <p>Add a 'New Goal' and especially add detail about <em>why your client really wants it</em> - e.g. His girlfriend's coming back from overseas, she wants to fit into her old dress - and put a short time-frame to it.  4 - 6 weeks probably fits with your course structure too. It makes sense that you can only have one "active" goal at a time because it keeps your clients clearly focused on one goal at a time.</p>
           <%=image_tag "/assets/goals_page_screenshot.png", :id => "goals_page_image" %> 
          <p>Now ask for their permission to spend a little time to understand what your motivations are so that you can get them to where they want to go in the least time. Ask lots of questions.  Clients want you to show an interest in them. When was a time that you felt really great about yourself and why? How did you get there? What sort of exercise do you like or don't like? What sorts of food do you like or don't like?</p>
          <p><strong><em>Action for Trainers 2:</em></strong></p>
          <p>Write private notes in the Top Trainer app so they don't get lost in your stack of paper. Edit "Client Info" and click on "expert options".  There's a field for you add all the notes you need to - past injuries, motivations, vices, etc.
          <p><strong><em>Action for Trainers 3:</em></strong></p>
          <p>Then pick out the 3 pieces of 'low-hanging fruit' first (i.e. look at the 3 worst habits that are putting the biggest handbrake on your clients' success that are also the easiest to change.  Then set your client the challenge).  Think about it... For example, I had a client drinking 3 glasses of juice a day.  To have a net-zero impact on their weight, he could keep that up and go for a 2 hour walk each day...or he could just drink water.  He was quite happy to drink water.  Now if we added your brilliant PT session, they're a lot more likely to finally get some positive momentum.</p>
          <br>
          <br>
          <h2>How to provide feedback or contact to Top Trainer?</h2> 
          <p>Feel free to email us any questions, issues of feedback.  My personal email is <a href="mailto:alex@toptrainer.co.nz">alex@toptrainer.co.nz</a> and I will respond as soon as possible.  Thanks for your support :)
          </p>
      </div>
    </section>
  </div>
    <div class="span2">
    </div>
</div>