<div data-role="page">
  <%= render 'coaches/header' %>
  <div data-role="content">
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, :required => false, :autofocus => true %>
        <%= f.input :password, :required => false %>
      </div>
      <%= f.button :submit, "Sign in" %>
      <%= link_to "Cancel", root_path %>
    <% end %>
  </div>
  <hr>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
  Don't have an account? <%= link_to "Sign Up!", new_registration_path(resource_name) %><br />
</div>
