<div data-role="page">
  <div data-role="header" data-position="fixed">
    <%= render 'shared/back' %>
    <h1>Edit Message</h1>
  </div>
  <div data-role="content">
    <%= simple_form_for @message, html: { class: "form-horizontal" } do |f| %>
      <% if coach_signed_in? %>
        <div>
          <%= f.label :send_at, label: 'Time to be sent' %>
          <%= f.text_field :send_at_date, class: "date_picker" %>
          <%= f.text_field :send_at_time, class: "time_picker" %>
        </div>
      <% end %>
      <%= f.input :title, label: "Subject:" %>
      <%= f.input :content, placeholder: "Your message...", input_html: { cols: 10, rows: 4, required: true } %>
      <%= f.button :submit, "Save", disable_with: "Saving" %>
    <% end %>
  </div>
<%= render 'coaches/nav' %>
</div>
