<div data-role="page">
  <div data-role="header">
    <%= render 'shared/back' if current_coach and (@messagable != current_coach) %>
    <h1>Messages</h1>
    <%= render "shared/new_message" %>
  </div><!-- /header -->
  <div data-role="content" class="ui-content">
    <% if current_coach and (@messagable != current_coach) %>
      <p>
        Messages between you and <%= @messagable.name %>
      </p>
      <br />
    <% end %>
    <ul data-role="listview" data-theme="d" data-divider-theme="d" class="ui-listview">
      <% @messagable.past_messages.limit(50).each do |message| %>
        <%
          if message.sender.is_a?(Client)
            client = message.sender
          else
            client = message.receiver
          end
        %>
        <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="d" class="ui-btn ui-li-has-arrow ui-li ui-btn-up-d message <%= message.sender.is_a?(Client) ? "ui-li message-sent ui-btn-icon-left " : "message-received ui-btn-icon-right "  %>" style="padding:0;">

          <div class="ui-btn-inner ui-li" >
            <div class="ui-btn-text">
              <%= link_to client_messages_path(client), :class => "ui-link-inherit" do %>
                <h3 class="ui-li-heading">
                  <%= message.sender.is_a?(Client) ? "From: " : "To: " %>
                  <%= client.name  %>
                </h3>
                <p class="ui-li-desc">
                  <strong>
                    <%= l message.send_at %>
                  </strong>
                </p>
                <p class="ui-li-desc">
                  <strong>
                    <%= message.title %>
                  </strong>
                </p>
                <p class="ui-li-desc">
                  <%= message.content %>
                </p>
              <% end %>
            </div>
            <span class="ui-icon ui-icon-arrow-<%= message.sender.is_a?(Client) ? "r" : "l"  %> ui-icon-shadow">
              &nbsp;
            </span>
          </div>
        </li>
      <% end %>
    </ul>

  </div>
  <%= render 'coaches/nav' %>
</div>