<div data-role="page">
  <div data-role="header" data-position="fixed">
    <%= render 'shared/back' %>
    <h1>New Message</h1>
  </div>
  <div data-role="content">
    <%= simple_form_for [@messagable, @messagable.messages.new], html: { name: "new_message", class: "form-horizontal" } do |f| %>
      <h3>New Message to <%= @messagable.name %></h3>
      <% if coach_signed_in? %>
        <div>
          <%= f.label :send_at, label: 'Time to be sent' %>
          <%= f.text_field :send_at_date, class: "date_picker" %>
          <%= f.text_field :send_at_time, class: "time_picker" %>
        </div>
      <% end %>
      <%= f.input :title, label: "Subject:" %>
      <%= f.input :content, placeholder: "Your message...", input_html: { cols: 10, rows: 4, required: true } %>
      <%= f.button :submit, "Send", disable_with: "Sending" %>
    <% end %>
  </div>
  <%= render 'coaches/nav' %>
</div>
