<div data-role="page">
  <div data-role="header" data-position="fixed">
    <%= render 'shared/back' %>
    <h1>New Message</h1>
  </div>
  <div data-role="content">
    <%= simple_form_for Message.new, html: { name: "new_message", class: "form-horizontal" } do |f| %>
      <div class="control-group">
        <%= label_tag "To" %>
        <div class="controls">
          <%= select_tag :client_ids, options_from_collection_for_select(current_coach.clients, :id, :name), multiple: true %>
          <%= select_tag :group_ids, options_from_collection_for_select(current_coach.groups, :id, :name), multiple: true %>
        </div>
      </div>
      <% if coach_signed_in? %>
        <div>
          <%= f.label :send_at, label: 'Time to be sent' %>
          <%= f.text_field :send_at_date, class: "date_picker" %>
          <%= f.text_field :send_at_time, class: "time_picker" %>
        </div>
      <% end %>
      <%= f.input :title, label: "Subject:" %>
      <%= f.input :content, placeholder: "Your message...", input_html: { cols: 10, rows: 4, required: true } %>
      <%= f.button :submit, "Send", disable_with: "Sending" %>
    <% end %>
  </div>
</div>
