<div data-role="page">
  <div data-role="header">
    <%= render 'shared/back' %>
    <h1>Reply to Message</h1>
  </div>
  <div data-role="content">
    <h2>
      <%= @message.sender.name %>
    </h2>
    <p>
      <strong>
        <%= l @message.send_at %>
      </strong>
    </p>
    <hr />
    <p>
      <%= @message.content %>
    </p>
  </div>
  <%= link_to "Reply Message", new_coach_message_path(current_coach), data: { role: 'button'} %>
  <%= render 'coaches/nav' %>
</div>

