<div data-role="page">
  <div data-role="header">
    <h1>Scheduled</h1>
    <%= render 'shared/new_message' %>
  </div>
  <div data-role="content" class="ui-content">

    <% if @messagable %>

      <ul data-role="listview" class="ui-listview">
        <% @messagable.scheduled_messages.each do |message| %>
          <li class="ui-li ui-li-static ui-btn-up-c">
            <h3 class="ui-li-heading">
              To: <%= message.receiver.name %>
            </h3>
            <p class="ui-li-aside ui-li-desc">
              <% if message.confirmed? %>
                <span class="confirmed">
                  Confirmed
                </span>
              <% else %>
                <span class="unconfirmed">
                  Unconfirmed
                </span>
              <% end %>
            </p>
            <p class="ui-li-desc">
              <strong>
                <%= l message.send_at %>
              </strong>
            </p>
            <p class="ui-li-desc">
              <strong>
                <%= message.title %>
              </strong>
            </p>
            <p>
              <%= message.content %>
            </p>

            <div class="ui-grid-a">
              <div class="ui-block-a">
                <div data-role='controlgroup'>
                  <%= link_to edit_message_path(message),
                    data: {
                      role: "button",
                      iconpos: "right",
                      mini: "true",
                      corners: "true",
                      shadow: "true",
                      iconshadow: "true",
                      wrapperels: "span",
                      theme: "c"
                    },
                    :class => "ui-btn ui-shadow ui-btn-corner-all ui-mini ui-btn-inline ui-btn-icon-right ui-btn-up-c ui-btn-right" do
                  %>
                    <span class="ui-btn-inner ui-btn-corner-all">
                      <span class="ui-btn-text">
                        Edit
                      </span>
                      <span class="ui-icon ui-icon-arrow-r ui-icon-shadow">
                        &nbsp;
                      </span>
                    </span>
                  <% end %>
                </div>
              </div>
              <div class="ui-block-b">
                <div data-role='controlgroup' style="float:right">

                  <% if message.confirmed? %>
                    <%= link_to confirm_message_path(message),
                      method: :post,
                      data: {
                        role: "button",
                        iconpos: "left",
                        mini: "true",
                        inline: "true",
                        corners: "true",
                        shadow: "true",
                        iconshadow: "true",
                        wrapperels: "span",
                        theme: "c"
                      },
                      :class => "ui-btn ui-shadow ui-btn-corner-all ui-mini ui-btn-inline ui-btn-icon-left ui-btn-up-c",
                      remote: true do
                    %>
                      <span class="ui-btn-inner ui-btn-corner-all">
                        <span class="ui-btn-text">
                          Unconfirm
                        </span>
                        <span class="ui-icon ui-icon-delete ui-icon-shadow">
                          &nbsp;
                        </span>
                      </span>
                    <% end %>

                  <% else %>
                    <%= link_to confirm_message_path(message),
                      method: :post,
                      data: {
                        role: "button",
                        iconpos: "left",
                        mini: "true",
                        inline: "true",
                        corners: "true",
                        shadow: "true",
                        iconshadow: "true",
                        wrapperels: "span",
                        theme: "c"
                      },
                      :class => "ui-btn ui-shadow ui-btn-corner-all ui-mini ui-btn-inline ui-btn-icon-left ui-btn-up-c",
                      remote: true do
                    %>
                      <span class="ui-btn-inner ui-btn-corner-all">
                        <span class="ui-btn-text">
                          Confirm
                        </span>
                        <span class="ui-icon ui-icon-check ui-icon-shadow">
                          &nbsp;
                        </span>
                      </span>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div><!-- /grid-a -->
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>
        No scheduled messages.
      </p>
    <% end %>
  </div>
  <%= render 'coaches/nav' %>
</div>
