<%= render "shared/publichead" %>
     
<h2>Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, :required => false, :autofocus => true %>
    <%= f.input :password, :required => false %>
    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  </div>

  <%= f.button :submit, "Sign in", class: "btn btn-primary" %>
  <%= link_to "Cancel", root_path, class: "btn" %>
<% end %>
<hr />
<%= render "devise/shared/links" %>

<%= render "shared/publicfoot" %>
