<div data-role="footer" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><%= link_to "Scheduled", scheduled_coach_messages_path(current_coach), data: { icon: 'arrow-l'} , class: "#{"ui-btn-active ui-state-persist" if controller_name == "messages" && action_name == "scheduled"}" %></li>

      <li><%= link_to "Messages", coach_messages_path(current_coach), data: { icon: "arrow-d" }, class: "#{"ui-btn-active ui-state-persist" if action_name == "index" && controller_name == "messages"}" %></li>

      <li><%= link_to "Activity", checkins_coach_clients_path(current_coach), data: { icon: "arrow-r" }, class: "#{"ui-btn-active ui-state-persist" if action_name == "checkins" && controller_name == "clients"}" %></li>

      <li><%= link_to "Account", settings_coaches_path, data: { icon: "arrow-u" }, class: "#{"ui-btn-active ui-state-persist" if action_name == "settings"}" %></li>
    </ul>
  </div>
</div>
