<div data-role="page">
  <div data-role="header" data-position="fixed">
    <h1>Account Info</h1>
    <%= render 'shared/signout_button' %>
  </div>
  <div data-role="content">
    <p>
      <%= current_coach.name %>
    </p>
    <hr>
    <p>
      Email: <%= current_coach.email %>
    </p>
    <p>
      Phone: <%= current_coach.phone_number %>
    </p>
  </div>
  <%= render 'nav' %>
</div>
