<ul class="nav nav-pills" id="nav-top">
  <li>
    <%= link_to image_tag("logo.png"), coach_clients_path(current_coach), class: "logo" %>
  </li>
  <li>
    <%= link_to "Clients", coach_clients_path(current_coach) %>
  </li>
  <li>
    <%= link_to "Groups", coach_groups_path(current_coach) %>
  </li>
  <li>
    <%= link_to "Messages", coach_messages_path(current_coach) %>
  </li>
  <li class="pull-right">
    <%= link_to "Signout", destroy_client_session_path, method: :delete %>
  </li>
  <li class="pull-right">
    <%= link_to "Settings", settings_coaches_path %>
  </li>
</ul>
<%= bootstrap_flash %>