<%= render 'coaches/nav' %>
<section>
  <h2>Your Settings</h2>

  <%= simple_form_for(@coach, :url => { :action => "update_profile" } ) do |f| %>
    <div class="form-inputs">
      <%= f.input :first_name, :required => true %>
      <%= f.input :surname, :required => true %>
      <%= f.input :brand_name, :required => true %>
      <%= f.input :phone_number, :required => true %>
      <%= f.input :email, :required => true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Save changes", class: "btn btn-primary" %>
      <%= link_to "Cancel", settings_coaches_path, class: "btn" %>
    </div>
  <% end %>
</section>