<%= render 'coaches/nav' %>
<section>
  <h1>
    <div class="pull-right">
      <%= link_to raw('<i class="icon-user"></i>Edit'), edit_profile_coaches_path, class: "btn" %>
      <%= link_to raw('<i class="icon-cog"></i>Change Password'), edit_coach_registration_path, class: "btn" %>
    </div>
    Your Account Settings
  </h1>
  <hr />
  <p>
    Name: <%= current_coach.name %>
  </p>
  <p>
    Brand: <%= current_coach.brand_name %>
  </p>
  <p>
    Phone: <%= current_coach.phone_number %>
  </p>
  <p>
    Email: <%= current_coach.email %>
  </p>
</section>