<%= simple_form_for @goal, html: { class: "form-horizontal" } do |f| %>
  <%= f.error_notification %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Edit <%= @client.name %>'s Goal</h3>
  </div>

  <div class="modal-body">
    <%= f.input :title, label: "Goal Title:" %>
    <%= f.input :description, label: "Goal Detail:", placeholder: "SMART goals are Specific, Measurable, Accurate, Realistic and Timely", input_html: { cols: 8, rows: 4 } %>
  </div>

  <div class="control-group">
    <%= f.label :deadline, label: "Accomplished by when?" %>
    <div class="controls">
      <%= f.text_field :deadline, class: "input-small", 'data-behaviour' => 'datepicker' %>
    </div>
  </div>

  <div class="modal-footer">
    <% if f.object.state = :active %>
      <%= link_to deactive_goal_path(f.object), :method => :put, class: "btn pull-left" do %>
        <i class="icon-arrow-down"></i> Deactivate
      <% end %>
    <% else %>
      <%= link_to active_goal_path(f.object), :method => :put, class: "btn pull-left" do %>
        <i class="icon-arrow-up"></i> Activate
      <% end %>
    <% end %>
    <%= f.button :submit, "Edit", class: "btn btn-primary" %>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
<% end %>