<%= simple_form_for [@client, @client.goals.new], html: { class: "form-horizontal" } do |f| %>
  <%= f.error_notification %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">What's <%= @client.name %>'s New Goal?</h3>
  </div>

  <div class="modal-body">
    <%= f.input :title, label: "Goal Title:" %>
    <%= f.input :description, label: "Goal Detail:", placeholder: "SMART goals are Specific, Measurable, Accurate, Realistic and Timely", input_html: { cols: 12, rows: 5 } %>
  </div>

  <div class="control-group">
    <%= f.label :deadline, label: "Accomplished by when?" %>
    <div class="controls">
      <%= f.text_field :deadline, class: "input-small", 'data-behaviour' => 'datepicker' %>
    </div>
  </div>

  <div class="modal-footer">
    <%= f.button :submit, "Save", class: "btn btn-primary" %>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
<% end %>