/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require bootstrap-responsive
 *= require bootstrap-datepicker
 *= require bootstrap-timepicker
 *= require select2
 *= require clients
 *= require_self
 */

/*.simple_form {*/
  /*input, textarea {*/
    /*width: 280px;*/
  /*}*/
  /*select {*/
    /*width: 293px;*/
  /*}*/
/*}*/

$message_margin: 50px;

.message {
  margin-left: 0;
  margin-right: $message_margin;
  background-color: #D3D3D3;
}

.dropdown-menu.bootstrap-timepicker.open, .dropdown-menu.bs-sc-datepicker {
  z-index: 1051;
}

h5 i{
  font-size: 14pt;
}

.page-header small{
  padding-left : 3em;
}

i:hover{
  text-decoration: none;
}

.hide {
  display: none;
}

.marksender{
  background-color: #C9FFE5;
}

.sender_indent{
  margin-left: 50px;
}

.check_ins, .sender_color, #active_goal {
  background-color: #EFDECD;
  padding: .5em;
  border-width: .1em;
  border-radius: 1em;
}

#active_goal p {
  font-size: 130%;
}

body {
  background-color:rgb(242,242,242);
  font-family:"proxima-nova", helvetica;
  font-size:14px;
}

  .hero-unit {
    background-color:rgb(255,255,255);
  }

  .nav#nav-top {
    margin:6em 0 0.5em 0;
  }

    .nav#nav-top li a {
      padding:0.4em 0.6em;
      margin:0.35em 0.4em 0 0.4em;
      font-size:0.9em;
    }

    .nav#nav-top a.logo {
      font-size:1.5em;
      font-weight:normal;
      padding-left:0;
      padding-right:0.5em;
      margin-left:0;
      margin-top:-0.9em;
    }

    .nav#nav-top a {
      color:rgb(66,66,66);
    }

    .nav#nav-top a:hover {
      color:rgb(100,100,100);
    }

    .nav#nav-top li:hover a {
      background:transparent;
      color:rgb(100,100,100);
    }

    .nav#nav-top {
    }

  .nav-back {
    padding:5px 10px;
    background-color:rgb(255,255,255);
    height: auto;
    border: 1px solid rgb(210,210,210);
    box-shadow: 0 0 2px 2px rgb(230,230,230);
    margin:5px 0;
    border-radius:5px;
  }

    .nav-back a {
      color:rgb(66,66,66);
    }

    .nav-back a:hover {
      color:rgb(100,100,100);
      text-decoration:none;
    }

  section {
    padding:5px 20px 20px 20px;
    background-color: rgb(255,255,255);
    height: auto;
    border: 1px solid rgb(210,210,210);
    box-shadow: 0 0 7px 6px rgb(230,230,230);
    margin:20px 0;
    border-radius:5px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight:normal;
  }

  h1 {
    font-size:2em;
  }

  h1 small {
    font-size:0.6em;
  }

  h2 {
    font-size:1.6em;
  }

  h3 {
    font-size:1.2em;
  }

  h4 {
    font-size:1.2em;
    font-weight:bold;
  }

  h5 {
  
  }

  h6 {
  
  }

  p {

  }

  .content-center {
    text-align:center;
  }

  section .logo {
    margin-top:2em;
  }

  input {
    max-width: 100%;
  }

  span.label-large {
    padding:0.8em;
    font-size:1em;
    margin:0.2em 0.4em 0.2em 0;
  }

  a i {
    color:rgb(60,60,60);
    text-decoration:none;
  }

    a:hover i {
      color:rgb(0, 136, 204);
      text-decoration:none;
    }

  a i.icon-white {
    color:rgb(255,255,255);
  }

  a.icon {
    text-decoration:none;
    color:rgb(60,60,60);
    padding-left:0.7em;
  }

    a.icon:hover {
      color:rgb(0, 136, 204);
    }

  .alert h4 {
    margin-bottom:5px;
  }

  ul.client-table {
    list-style-type:none;
    height:100%;
    overflow-y:hidden;
    margin:0;
  }

    ul.client-table li {
      display:block;
      width:33%;
      min-width:340px;
      float:left;
      margin:0.3em 0;
    }

  .child-for-hover {
    /*visibility:hidden;*/
  }

/******* Static Pages ********/

#about_page_content {
	text-align:left;
}

#about_page_image {
	width: 30%;
  height: 30%;
	float:left;
	margin: 5px 20px 10px 0px;
}

#goals_page_image {
	margin: 20px 100px 10px 0px;
}
 	
.static_page_header {
	font-size: 50px;
	color: #009ba7;
}	



