.message_box {
  margin-bottom: 1em;

  &.client, &.group {
    margin-left: 36px;
  }

  &.client div hr {
    background-color:transparent;
  }

  &.coach {
    margin-right: 36px;
  }

  &.coach div {
    background-color: #e1f3df;
  }

  &.coach div hr {
    background-color:transparent;
  }

}

  .message_box div {
    border: 1px solid rgb(200,200,200);
    padding:1em;
  }

  .message_box small {
    color:rgb(170,170,170);
  }

  .message_box hr {
    margin:0.4em 0;
    border:0;
    height:1px;
    background-color:rgb(220,220,220);
  }

.clear {
  clear:both;
}
