/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.mobile
 *= require bootstrap-responsive
 *= require bootstrap-datepicker
 *= require bootstrap-timepicker
 *= require select2
 *= require jquery.mobile
 *= require mobiscroll.custom-2.4.4.min.css
 *= require_self
 */
 
ul {
  list-style: none;
}

.confirmed {
  color: #aef100;
  font-weight: bold;
}

.unconfirmed {
  color: #f10026;
  font-weight: bold;
}

.wrap { white-space:normal; }

.message {
  border:solid 1px rgb(187,187,187) !important;
  margin:10px 0 !important;
}

.message-received {
  margin-left:20px !important;
}

  .message-received .ui-btn-inner {
    background-color:rgb(245,245,245);
  }

.message-sent {
  margin-right:20px !important;
}

  .message-sent .ui-btn-inner {
    background-color:rgb(220,220,220);
    padding-left:35px;
  }