<div data-role="page">
  <%= render 'coaches/header' %>
  <div data-role="content">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class=> "form-horizontal"} ) do |f| %>
      <%= f.error_notification %>
      <div class="control-group">
        <%= f.input :first_name, :input_html => {:class => "input-xlarge" } %>
        <%= f.input :surname, :input_html => {:class => "input-xlarge" } %>
        <%= f.input :brand_name, :input_html => {:class => "input-xlarge" } %>
      </div>
      <div class="control-group">
        <%= f.input :phone_number, :input_html => {:class => "input-xlarge" } %>
        <%= f.input :email, :required => true, :input_html => {:class => "input-xlarge" } %>
      </div>
      <div class="control-group">
        <%= f.input :password, :required => true, :input_html => {:class => "input-xlarge" } %>
        <%= f.input :password_confirmation, :required => true, :input_html => {:class => "input-xlarge" } %>
      </div>

      <div class="form-actions">
        <div class="pull-right">
          <%= link_to "Cancel", root_path, class: "btn" %>
          <%= f.button :submit, "Sign Up", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
  <hr>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
  Already have an account? <%= link_to "Sign In!", new_session_path(resource_name) %><br />
</div>
