<% if current_coach and (@messagable != current_coach) %>
  <%= link_to "Message", new_client_message_path, data: { icon: 'plus', role: 'button', iconpos: 'right' }, :class => "ui-btn-right" %>
<% else %>
  <%= link_to "Message", new_message_path, data: { icon: 'plus', role: 'button', iconpos: 'right' }, :class => "ui-btn-right" %>
<% end %>
