<div data-role="footer" data-id="foo1" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li>
        <%= link_to "Home", dashboard_client_path(current_client), data: { icon: "home" }, class: "#{"ui-btn-active ui-state-persist" if action_name == "dashboard"}" %>
      </li>
      <li>
        <%= link_to "Check-in", goals_client_path(current_client), data: { icon: "check" }, class: "#{"ui-btn-active ui-state-persist" if action_name == "goals"}" %>
      </li>
      <li>
        <%= link_to "Message", client_messages_path(current_client), data: { icon: "bars" }, class: "#{"ui-btn-active ui-state-persist" if controller_name == "messages"}" %>
      </li>
      <li>
        <%= link_to "Account", info_client_path(current_client), data: { icon: "gear"}, class: "#{"ui-btn-active ui-state-persist" if action_name == "info"}" %>
      </li>
    </ul>
  </div><!-- /navbar -->
</div><!-- /footer -->
