<div data-role="page">
  <div data-role="header">
    <h1>Activity</h1>
  </div><!-- /header -->
  <div data-role="content">

    <% if @checkins.any? %>
      
      <div class="check_ins">
        <ul data-role="listview" class="ui-listview">
          <% @checkins.each do |checkin| %>
            <li class="ui-li ui-li-static ui-btn-up-c wrap">
              <h3 class="ui-li-heading">
                <%= checkin.client.name %>
              </h3>
              <p class="wrap">
                Checked-in to: <%= checkin.habit.content %>
                <%= " checked at " %>
                <%= time_ago_in_words checkin.created_at %> ago
              </p>
            </li>
          <% end %>
        </ul>
      </div>

    <% else %>
      <h2>There are no checkins</h2>
    <% end %>

  </div>
  <%= render 'coaches/nav' %>
</div>
