<div data-role="page">
  <div data-role="header" data-position="fixed">
    <h1>Coach</h1>
  </div>

  <div data-role="content">
    Powered by Top Trainer
    <%= link_to "Sign out", destroy_client_session_path, method: :delete %>

    <hr>

    Messages: <%= current_client.messages.last.content if current_client.messages.any? %>

    <hr>

    <h3><%= link_to "Habits", client_goals_path(@current_client) %></h3>
    <%= simple_form_for current_client, html: { class: "checkin_form" } do |f| %>
      <%= f.simple_fields_for :checkins, @today_checkins.order("created_at") do |ff| %>
        <%= ff.check_box :checked %>
        <%= ff.label :checked, ff.object.habit.content %>
      <% end %>
    <% end if @today_checkins.exists? %>
  </div>

  <%= render "footer" %>
</div>
