<%= render 'coaches/nav' %>

<span class="nav nav-back">
  <%= link_to raw("&laquo") + " Back to Clients", coach_clients_path(current_coach) %>
</span>

<section>

  <h1>Edit client</h1>

  <%= simple_form_for @client do |f| %>
    <%= render 'form', client: @client, f: f %>
  <% end %>
</section>
