<div data-role="page">
  <div data-role="header" data-position="fixed">
    <h1>Check-in</h1>
  </div>

  <div data-role="content">
    <hr>

    The Goal:
    <br>
    <% if @active_goal %>
      <%= @active_goal.title %> by <%= @active_goal.deadline %>
    <% end %>

    <hr>
    Habits

    <ul>
      <%= simple_form_for current_client, html: { class: "checkin_form" } do |f| %>
        <%= f.simple_fields_for :checkins, @today_checkins.order("created_at") do |ff| %>
          <%= ff.check_box :checked %>
          <%= ff.label :checked, ff.object.habit.content %>
        <% end %>
      <% end if @today_checkins.exists? %>

      <% @active_habits.each do |habit| %>
        <li>
          <%= habit.title %>
        </li>
        <li><%= content_tag :div, "", style: "height:200px", class: "chart", id: "checkin_chart_#{habit.id}", data: {checkins: checkins_chart_data(current_client)} %></li>
      <% end %>
    </ul>

    <%= render "footer" %>
  </div>
</div>
