<div data-role="page" id="info">
  <div data-role="header" data-position="fixed">
    <h1>My Info</h1>
    <a href="#edit" data-transition="slide" class='ui-btn-right' data-icon='edit'>edit</a>
  </div>

  <div data-role="content">
     <ul data-role="listview">
         <li><%= current_client.first_name %></li>
         <li><%= current_client.surname %></li>
         <li><%= current_client.email %></li>
         <li><%= current_client.phone_number %></li>
         <li><%= current_client.coach.name %></li>
     </ul>
   </div>
  <%= render "footer" %>
</div>

<div data-role="page" id="edit">
  <div data-role="header" data-position="fixed">
    <h1>Edit client</h1>
    <a href="#info" data-transition="slide" data-direction="reverse" class='ui-btn-left' data-icon='arrow-l'>Back</a>
  </div>

  <div data-role="content">
    <%= simple_form_for(@client, :url => registration_path(@client), :html => { :method => :put, class: "form-horizontal" }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, :required => true, :autofocus => true %>
        <%= f.input :first_name %>
        <%= f.input :surname %>
        <%= f.input :phone_number %>
        <%= f.input :dob, as: :string %>

        <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
        <%= f.input :password_confirmation, :required => false %>
        <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update" %>
      </div>
    <% end %>
  </div><!-- /content -->

  <%= render "footer" %>
</div><!-- /page -->
