<div data-role="page">
  <div data-role="header" data-position="fixed">
    <h1>Messages</h1>
  </div>

  <div data-role="content">
    <ul class="messages">
      <% @messagable.past_messages.each do |message| %>
        <li class="<%= message.sender.is_a?(Client) ? 'client' : 'coach' %>">
          <%= message.content %>
        </li>
      <% end %>
    </ul>
  </div>

  <div data-role="footer" data-id="foo1" data-position="fixed">
    <%= simple_form_for [@messagable, @messagable.messages.new] do |f| %>
    <fieldset class="ui-grid-a">
      <div class="ui-block-a" style="width:75%">
        <%= f.input :content, as: :string, placeholder: "Your message...", label: false %>
      </div>
      <div class="ui-block-b" style="width:25%">
        <%= f.button :submit, "Send", disable_with: "Sending", class: "btn btn-primary" %>
      </div>
    </fieldset>

    <% end %>

    <div data-role="navbar">
      <ul>
        <li>
          <%= link_to "Home", dashboard_client_path(current_client), data: { icon: "home" }, class: "#{"ui-btn-active ui-state-persist" if action_name == "dashboard"}" %>
        </li>
        <li>
          <%= link_to "Check-in", goals_client_path(current_client), data: { icon: "check" }, class: "#{"ui-btn-active ui-state-persist" if action_name == "goals"}" %>
        </li>
        <li>
          <%= link_to "Message", client_messages_path(current_client), data: { icon: "bars" }, class: "#{"ui-btn-active ui-state-persist" if controller_name == "messages"}" %>
        </li>
        <li>
          <%= link_to "Settings", info_client_path(current_client), data: { icon: "gear"}, class: "#{"ui-btn-active ui-state-persist" if action_name == "info"}" %>
        </li>
      </ul>
    </div><!-- /navbar -->
  </div><!-- /footer -->
</div>
