<div data-role="page">
  <div data-role="header">
    <%= render 'shared/back_button' %>
    <h1>New client</h1>
  </div>
  <div data-role="content">
    <%= simple_form_for [current_coach, @client], :class => "form-horizontal" do |f| %>
      <div class="control-group">
        <%= f.input :first_name %>
        <%= f.input :surname %>
        <%= f.input :email %>
        <%= f.input :phone_number %>
        <%= f.input :note, input_html: { rows: 5, cols: 5 } %>
        <%= f.button :submit, 'Save' %>
      </div>
    <% end %>
  </div>
</div>
