<table class="table table-bordered table-stripped">
  <thead>
    <tr>
      <th></th>
      <th>Habit</th>
      <th>How Often</th>
      <th></th>
      <th>Trash</th>
    </tr>
  </thead>

  <tbody>
    <% habits.each_with_index do |habit, index| %>
      <tr id="habit-<%= habit.id %>">
        <td>
          <%= index+1 %>
        </td>
        <td>
          <%= link_to habit.title, edit_habit_path(habit), data: { target: "#myModal", toggle: "modal" } %>
        </td>
        <td>
          <%= habit.frequency %>
        </td>
        <td>
          <% if habit.active? %>
            <%= link_to deactive_habit_path(habit), :method => :put, class: "btn" do %>
              <i class="icon-arrow-down"></i>
            <% end %>
          <% else %>
            <%= link_to active_habit_path(habit), :method => :put, class: "btn" do %>
              <i class="icon-arrow-up"></i>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to habit, :method => :delete, :confirm => "Are you sure you would like to delete this habit from the database?" do %>
            <i class="icon-remove"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
