<%= simple_form_for [@client, @client.habits.new], html: { class: "form-horizontal" } do |f| %>
  <%= f.error_notification %>
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Create <%= @client.name %>'s Habit</h3>
  </div>

  <div class="modal-body">
    <%= f.input :title, label: "#{@client.name}'s new habit is to:" %>
    <%= f.input :content, label: "Habit Detail:", input_html: { cols: 8, rows: 4 } %>
    <%= f.input :frequency, label: "How Often" %>
  </div>

  <div class="modal-footer">
    <%= f.button :submit, class: "btn btn-primary" %>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
<% end %>