<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript" src="//use.typekit.net/ckn0bjy.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Top Trainer" %></title>
    <%= csrf_meta_tags %>
    

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <!-- ClickTale Top part -->
    <script type="text/javascript">
      var WRInitTime=(new Date()).getTime();
    </script>
    <!-- ClickTale end of Top part -->

    <div class="container">
      <div class="row-fluid">
       
        <div class="span12">
          <%= render_breadcrumbs %>
          <%= yield %>
        </div>
      </div>

      <footer>
        <br>
        <div>
          <p class="pull-right">
            <a href="mailto:alex@toptrainer.co.nz">Email for help</a>
          </p>
          <p class="pull-right span2">
            <%= link_to "Trainer Tips", tips_path %> 
          </p>
          <p class="pull-left span2">
            <%= link_to "About Top Trainer", about_path %> 
          </p>
        </div>
        
        <div>
          <p class="pull-left">
            &copy; Top Trainer 2013
          </p>
        </div>  
      </footer>
    </div>

    <div id="myModal" class="modal hide fade">
      <div class="modal-body">
        <p>Loading form…</p>
      </div>
    </div>

    <%= debug(params) if Rails.env.development? %>
    
    <!-- ClickTale Bottom part -->
    <div id="ClickTaleDiv" style="display: none;"></div>
    <script type="text/javascript">
      if(document.location.protocol!='https:')
      document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRe0.js'%20type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      if(typeof ClickTale=='function') ClickTale(8916,1,"www09");
    </script>
    <!-- ClickTale end of Bottom part -->

    <!-- UserVoice JavaScript SDK (only needed once on a page) -->
    <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/BpEDPeS16zqWPUlSAYNutA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>
    <!-- A tab to launch the Classic Widget -->
    <script type="text/javascript">
      UserVoice = window.UserVoice || [];
      UserVoice.push(['showTab', 'classic_widget', {
      mode: 'full',
      primary_color: '#127a94',
      link_color: '#09cddb',
      default_mode: 'support',
      forum_id: 202350,
      tab_label: 'Feedback & Support',
      tab_color: '#127a94',
      tab_position: 'middle-right',
      tab_inverted: false
    }]);
    </script>

    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-40373927-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
